---
layout: default
---

<section class="tc">
	<img class="db br--top br3 w-100" src="/images/IMG_9074.jpg">
	<div class="pa3">
		<h1 class="mb3 mb2-l f2 f1-ns lh-title burgundy">Local food doesn't hibernate</h1>
		<p class="mt1 f3 mw6 center">Stay warm with local food creativity this winter at the Trading Post Market.</p>
	</div>
</section>

<section class="flex tc">
	<div class="pa3 w-50 bg-burgundy">
		<h2 class="mv0 lh-title white">Wednesdays<br>Nov. 7 – Dec. 19, 2018</h2></h2>
		<p class="mv0 f3 white">4:00PM – 7:30PM</p>
	</div>
	<div class="pa3 w-50 bg-burgundy">
		<h2 class="mv0 lh-title white">Titletown Tap Room</h2>
		<p class="mv0 f3 white">320 N. Broadway Green Bay, WI</p>
	</div>
</section>

<section class="pa4">
	<p class="pb3 mw6 center f4">The Trading Post Market is a winter farmers' market featuring fresh local produce, bread, cheese, honey, and other specialty items all the way until the new year! Come find many of your favorite vendors, grab a pint in the cozy tap room, and stay warm all season long.</p>
	<div class="flex">
		<div class="pa1 w-50">
			<img class="db w-100" src="/images/IMG_9000.jpg">
		</div>
		<div class="pa1 w-50">
			<img class="db w-100" src="/images/IMG_8971.jpg">
		</div>
	</div>
	<div class="pa1">
		<img class="db w-100" src="/images/IMG_9089.jpg">
	</div>
</section>

{% include newsletter-signup.html %}

{% include social-buttons.html %}

<h2 class="tc f4 mb3 mt5 normal charcoal">Interested in being a vendor? Please fill out <a class="wintergreen dim" href="/vendor-signup">this form</a>.</h2>
