<footer class="pa4 bg-wintergreen white cf relative">

	<div class="mw6 center mv2">

    <nav class="tc mb2">
      <a class="link chalk dib ph3 dim" href="/vendors">Vendors</a>
      <a class="link chalk dib ph3 dim" href="/about">About</a>
      <a class="link chalk dib ph3 dim" href="/contact">Contact</a>
    </nav>

		<p class="tc chalk o-50">© 2017 Trading Post Market</p>

    <p class="tc mb0"><a class="link white o-50" href="http://sandcastle.co" target="_blank">Website by <img class="v-mid" width="25px" src="/images/sandcastle.svg"></a></p>

	</div>

  <img class="db center mt3 absolute-ns right-2 top-2" src="/images/tree.svg">

</footer>
