<footer class="pa4 bg-wintergreen white cf relative">
  <img class="absolute right-2" src="/images/tree.svg">
  <a href="sandcastle.co" target="_blank"><img class="absolute left-2 mw3 link" src="/images/sandcastle.svg"></a>
	<div class="mw6 center mb3">
    <nav class="tc mb3">
      <a class="link white dib ph3 o-80" href="/vendors">Vendors</a>
      <a class="link white dib ph3 o-80" href="/about">About</a>
      <a class="link white dib ph3 o-80" href="/contact">Contact</a>
    </nav>
		<p class="tc o-50">© 2017 Trading Post Market</p>
	</div>
</footer>
