<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }} | Downtown Green Bay</title>
  <meta name="description" content="A cozy winter farmers' market in Green Bay, WI. Experience and support local food culture, education, and creativity."

  <link rel="stylesheet" href="https://use.typekit.net/bwm7zkx.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/styles/main.css">
</head>
