<header class="fl-ns w-25-ns relative tc ">
	<div class="fixed-ns w-25-ns ph4" style="top:-8em;">
	<a href="/"><img class="db center w5" src="/images/trading-post-market-logo.svg" alt="Trading Post Market"></a>
	<nav class="pa3 dib w-75-l w-80-ns w-50">
		<a class="link bg-white wintergreen br3 db tc f3 f6-ns f4-l pa2 mv3 b grow bl bb bw2 b--wintergreen" href="/vendors">Vendors</a>
		<a class="link bg-white wintergreen br3 db tc f3 f6-ns f4-l pa2 mv3 b grow bl bb bw2 b--wintergreen" href="/about">About</a>
		<a class="link bg-white wintergreen br3 db tc f3 f6-ns f4-l pa2 mv3 b grow bl bb bw2 b--wintergreen" href="/contact">Contact</a>
	</nav>
	</div>
</header>
