<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }} | Downtown Green Bay</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% if page.featured-image %}
	<meta property="og:image" content="{{ site.url }}/images/{{ page.featured-image }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}/images/cover-photo.jpg">
  <meta property="og:image:height" content="1200">
  <meta property="og:image:width" content="630">
  {% endif %}

  <link rel="stylesheet" href="https://use.typekit.net/bwm7zkx.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
