<header class="fl-ns w-25-ns relative tc">
	<div class="fixed-ns w-25-ns ph4" style="margin-top:-11em;">
	<a href="/"><img class="db center w5" src="/images/trading-post-market-logo.svg" alt="Trading Post Market"></a>
	<nav class="pa3 dib w-60">
		<a class="link bg-white cedar br3 db tc pa2 ph4 mv3 b grow bl bb bw2 b--warmgrey" href="/vendors">Vendors</a>
		<a class="link bg-white cedar br3 db tc pa2 ph4 mv3 b grow bl bb bw2 b--warmgrey" href="/about">About</a>
		<a class="link bg-white cedar br3 db tc pa2 ph4 mv3 b grow bl bb bw2 b--warmgrey" href="/contact">Contact</a>
	</nav>
	</div>
</header>
