<div class="center mw10 mt3 w-70">
		<div class="center tc">
		<a class="dib pv2 ph3 mv2 br3 no-underline mh3 bg-burgundy white b shadow-gravel grow" target="_blank" href="https://www.facebook.com/tradingpostmarket"><img class="w2 v-mid mr3" src="/images/facebook.svg">Facebook</a>
		<a class="dib pv2 ph3 mv2 br3 no-underline mh3 bg-burgundy white b shadow-gravel grow" target="_blank" href="https://www.instagram.com/tradingpostmarket"><img class="w2 v-mid mr3" src="/images/instagram.svg">Instagram</a>
		</div>
</div>
