$wintergreen: #5F755C;
$pine: #FDF1E2;
$cedar: #967F66;
$warmgrey: #CAC2B9;

.wintergreen { color: $wintergreen; }
.bg-wintergreen { background-color: $wintergreen; }
.b--wintergreen { border-color: $wintergreen; }
.pine { color: $pine; }
.bg-pine { background-color: $pine; }
.b--pine { border-color: $pine; }
.cedar { color: $cedar; }
.bg-cedar { background-color: $cedar; }
.b--cedar { border-color: $cedar; }
.warmgrey { color: $warmgrey; }
.bg-warmgrey { background-color: $warmgrey; }
.b--warmgrey { border-color: $warmgrey; }
