$wintergreen: #5F755C;
$chalk: #F5F5F5;
$cedar: #967F66;
$gravel: #ACA8A4;
$charcoal: #444444;

.wintergreen { color: $wintergreen; }
.bg-wintergreen { background-color: $wintergreen; }
.b--wintergreen { border-color: $wintergreen; }
.chalk { color: $chalk; }
.bg-chalk { background-color: $chalk; }
.b--chalk { border-color: $chalk; }
.cedar { color: $cedar; }
.bg-cedar { background-color: $cedar; }
.b--cedar { border-color: $cedar; }
.gravel { color: $gravel; }
.bg-gravel { background-color: $gravel; }
.b--gravel { border-color: $gravel; }
.charcoal { color: $charcoal; }
.bg-charcoal { background-color: $charcoal; }
.b--charcoal { border-color: $charcoal; }
