$wintergreen: #5F755C;
$pine: #FBEAD4;

.wintergreen { color: $wintergreen; }
.bg-wintergreen { background-color: $wintergreen; }
.b--wintergreen { border-color: $wintergreen; }
.pine { color: $pine; }
.bg-pine { background-color: $pine; }
.b--pine { border-color: $pine; }
